<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center">LISTADO DE LIBROS</div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar Libros</button>
        </form>
        
    <a href ="libros.html" class="btn btn-info mt-5">LIBROS</a>
</body>
</html>